html {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
}

.navigation {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 60px;
}

.navigation-item {
    font-size: 16px;
    text-decoration: none;
}

h1 {
    line-height: 1.1;
}

body {
    display: grid;
    grid-template-columns: 100px auto;
    line-height: 1.6;
    font-size: 16px;
    padding: 48px 0;
    margin: 0 auto;
    max-width: 800px;
}

table {
    width: 100%;
}

.list {
    list-style: none;
}

.booklist > li {
    margin-bottom: 16px;
}


.socials > a,
.booklist > li > a{
     text-decoration: none;
}

.navigation > a,
td > a
{
    text-decoration: none;
    color: #000;
}

tr {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    line-height: 1.8;
}

td:nth-child(2) {
    font-style: italic;
}
