html {
    background: #FEF1E3;
}

h1 {
    font-family: 'Noto Sans';
}


.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigation-item {
    padding: 0 6px;
    text-decoration: none;
}

.body {
    margin: 0 auto;
    width: 50%;
}

.list {
    list-style: none;
}


a {
    text-decoration: none;
    color: #696969;
}

a:hover {
    text-decoration: none;
    color: #000;
}
