<html>
    <head>
        <link rel="stylesheet" href="site.css" />
        <nav id="nav"></nav>
    </head>

    <body>
        <main>
            <h1>Blog</h1>
            {{ with .PostsMetadata }}
            <table class="list">
                <tbody>
                    {{ range . }}
                    <tr>
                        <td class="link">
                            <a href="{{ .Link }}"> {{ .Title }} </a>
                        </td>
                        <td class="date">{{ .Date }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            {{ end }}
        </main>
    </body>
    <script src="nav.js"></script>
</html>
