<html>
    <head>
        <link rel="stylesheet" href="site.css" />
        <nav id="nav"></nav>
    </head>

    <body>
        <div class="body">
            {{ with .PostsMetadata }}
            <table class="list">
                <tbody>
                    {{ range . }}
                    <tr>
                        <td class="date">{{ .Date }} -</td>
                        <td class="link">
                            <a href="{{ .Link }}"> {{ .Title }} </a>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            {{ end }}
        </div>
    </body>
    <script src="nav.js"></script>
</html>
