html {
    background: #FEF1E3;
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6DRASf6M7VBj.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
h1 {
    font-family: 'Noto Sans';
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigation-item {
    padding: 0 6px;
}

.body {
    margin: 0 auto;
    width: 50%;
}

.list {
    list-style: none;
}
